{% extends 'admin_base.html' %}
{% block admin_side %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Query 3. Products with fewer than 5 orders</h5>
        <div class="container-fluid">
            <table class="table table-bordered table-sm" id="example">
                <thead>
                <tr>
    
                    <th>Product Name</th>
                    <th>Number of Orders</th>
                </tr>
                </thead>
                <tbody>
                   {% if product_orders %}
                        {% for product, count in product_orders %}
                <tr>
                    
                    <td>{{product.name}}</td>
                    <td>{{count}}</td>
                    
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="2">
                            no product
                    </td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
